{% extends 'base.html' %} {% block content %} {% load static %}


    <!-- breadcrumb start -->
    <!-- <div
      class="breadcrumb-area bg-overlay"
      style="background-image: url(' {% static 'assets/img/bg/3.png' %} ')"
    >
      <div class="container">
        <div class="breadcrumb-inner">
          <div class="section-title mb-0 text-center">
            <h2 class="page-title">Announcements</h2>
          </div>
        </div>
      </div>
    </div> -->
    <!-- breadcrumb end -->

    <!-- blog area start -->
    <div class="blog-area pd-top-120 pd-bottom-120">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="td-sidebar">
              <div class="widget widget-recent-post">
                <!-- <h4 class="widget-title">Recent News</h4> -->
                <ul>
                  <li>
                    <div class="media">
                      
                      <div class="media-body align-self-center">
                        <h5 class="title">
                          <a href=" {% static 'single-blog.html' %} "
                            >Call for Applications for Scholars Entrepreneurship
                            Fund (SEF)</a
                          >
                        </h5>
                        <div class="post-info">
                          <i class="fa fa-calendar"></i
                          ><span>23rd May 2022</span>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="media">
                      
                      <div class="media-body align-self-center">
                        <h5 class="title">
                          <a href=" {% static 'single-blog.html' %} ">Call for Mentors</a>
                        </h5>
                        <div class="post-info">
                          <i class="fa fa-calendar"></i
                          ><span>Published: 28th Apr 2022</span>
                        </div>
                      </div>
                    </div>
                  </li>

                  <li>
                    <div class="media">
                      
                      <div class="media-body align-self-center">
                        <h5 class="title">
                          <a href=" {% static 'single-blog.html' %} "
                            >Call for Applications for Mastercard Foundation
                            Scholarship 2022/2023 Academic Year</a
                          >
                        </h5>
                        <div class="post-info">
                          <i class="fa fa-calendar"></i
                          ><span>21st Mar 2022</span>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="media">
                      
                      <div class="media-body align-self-center">
                        <h5 class="title">
                          <a href=" {% static 'single-blog.html' %} "
                            >Extension of Deadline: Call for Applications for
                            Mastercard Foundation Scholarship 2021</a
                          >
                        </h5>
                        <div class="post-info">
                          <i class="fa fa-calendar"></i
                          ><span>10th Feb 2021</span>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="media">
                      
                      <div class="media-body align-self-center">
                        <h5 class="title">
                          <a href=" {% static 'single-blog.html' %} ">
                            Call for Applications for the Jim Leech Mastercard
                            Foundation Fellowship on Entrepreneurship</a
                          >
                        </h5>
                        <div class="post-info">
                          <i class="fa fa-calendar"></i
                          ><span>10th Nov 2020</span>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>

              <!-- <div class="widget widget_tags mb-0">
                            <h4 class="widget-title">Tags</h4>
                            <div class="tagcloud">
                                <a href="#">Art</a>
                                <a href="#">Creative</a>
                                <a href="#">Article</a>
                                <a href="#">Designer</a>
                                <a href="#">Portfolio</a>
                                <a href="#">Project</a>
                                <a href="#">Personal</a>
                                <a href="#">Landing</a>
                            </div>
                        </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- blog area end -->
    {% endblock content %}