{% extends 'base.html' %} {% block content %} {% load static %}

<!-- breadcrumb start -->
<!-- <div
      class="breadcrumb-area bg-overlay"
      style="background-image: url(' {% static 'assets/img/bg/3.png' %} ')"
    >
      <div class="container">
        <div class="breadcrumb-inner">
          <div class="section-title mb-0 text-center">
            <h2 class="page-title">Announcements</h2>
          </div>
        </div>
      </div>
    </div> -->
<!-- breadcrumb end -->

<!-- blog area start -->
<div class="blog-area pd-top-120 pd-bottom-120">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="page-content">
          <p>
            Mastercard Foundation Scholars Program at Kwame Nkrumah University
            of Science and Technology (MCFSP at KNUST)
          </p>

          <p>
            Our goal is to raise the next generation of ethical and
            transformative&nbsp;leaders who would influence positive
            forward-looking changes in their respective home countries
            specifically and on the African Continent as a whole.
          </p>

          <p>
            MCFSP at KNUST provides comprehensive scholarships for access to
            quality university education to
            <strong>QUALIFIED</strong> academically talented, yet economically
            disadvantaged young people in Ghana and Africa.
          </p>

          <p>
            The Mastercard Foundation Scholars Program offers an opportunity for
            her scholars to receive holistic training that empowers them to
            become effective change leaders. The Program provides an array of
            services including mentorship, ethical leadership seminars, skills
            training, etc. that will lead to the scholar’s academic success,
            community engagement and transition to employment opportunities
            which will equip the scholar to be a global citizen
          </p>

          <h3>Eligibility for the 2022/2023 Academic year:</h3>

          <ol>
            <li>
              At the time of application, all prospective candidates
              <strong
                >must have in their possession, a&nbsp;genuine and valid WASSCE
                or GBCE or ABCE or GCE O ‘Level &amp; A ‘Level or their
                equivalent results from an accredited/recognized
                institutions.</strong
              >
              Applicant’s results must
              <strong>not be more than five years old.</strong>
            </li>
            <li>
              The candidates must further meet KNUST’s Admission
              Requirements.&nbsp;<strong
                >The scholarship is awarded contingent on the premise that the
                applicant is successfully admitted into a program at
                KNUST.</strong
              >
            </li>
            <li>
              <strong
                >For admission into KNUST Ghanaian applicants need to purchase
                an E voucher for the purpose and fill the application for
                admission whenever the online portal opens -
                <a href="https://apps.knust.edu.gh/admissions/">(HERE!)</a>
                international applicants are instructed to visit the same
                address and select the option for International students
                only.</strong
              >
            </li>
            <li>
              <strong
                >NO AWAITING RESULTS candidate will be processed for the
                scholarship.</strong
              >
            </li>
            <li>
              The Applicant must demonstrate that he/she has Critical Economic
              Needs.
            </li>
            <li>
              The Applicant must have Proven Records of Leadership and Community
              Engagement(s).
            </li>
            <li>Priority shall be given to:</li>
          </ol>
          <blockquote>
            <ul>
              <li><strong>Females</strong></li>
              <li>
                <strong
                  >Displaced Persons (Certified Refugees, Internally Displaced
                  Persons, etc.)</strong
                >
              </li>
              <li><strong>Persons with Disability</strong></li>
            </ul>
          </blockquote>

          <ol start="8">
            <li>
              The Applicant must be prepared to&nbsp;<strong
                >Go-Back and Give-Back</strong
              >&nbsp;to his or her Community.
            </li>
            <li>
              The Applicant must&nbsp;<strong>NOT</strong>&nbsp;be enrolled in
              any tertiary institution.
            </li>
            <li>
              Eligible candidates for the scholarship can apply by downloading
              the application form&nbsp;<strong
                ><a
                  href="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/2022-06/MCFSP%20AT%20KNUST%20APPLICATION%20FORM%202022-2023.pdf"
                  >(HERE!)</a
                ></strong
              >
            </li>
            <li>
              The scholarship application form is free and has a feature of a
              <strong>“2022”</strong> watermark.
            </li>
            <li>
              Qualified applicants should apply for the scholarship as soon as
              they can. Do not wait until admissions are opened at KNUST.
            </li>
            <li>
              Completed application forms must be sent via courier mail
              <strong>(Eg. EMS, DHL, Fedex, UPS)</strong> to the address below;
            </li>
          </ol>
          <blockquote>
            <p><strong>The Program Manager</strong></p>

            <p>
              <strong>Mastercard Foundation Scholars Program at KNUST</strong>
            </p>

            <p><strong>Africa Hall Road, Impact Building</strong></p>

            <p><strong>PMB KNUST, </strong></p>

            <p><strong>Kumasi, Ghana.</strong></p>
          </blockquote>

          <p>
            <strong
              >2022 APPLICATION DEADLINE: EXTENDED TO WEDNESDAY 31ST AUGUST,
              2022.</strong
            >
          </p>

          <p>
            <strong
              >PS: Whereas the staggered interviews will begin in May 2022, any
              application arriving after 31st August, 2022 shall not be
              processed.
            </strong>
          </p>

          <p>
            <strong
              >International Applicants Should Note and attach copies of their
              original certificates of their results or their equivalent
              results.</strong
            >
          </p>

          <h3>Additional Information:</h3>

          <ul>
            <li>
              The application for the scholarship is a staggered ongoing
              process, from mid-March to end of September, 2022.
            </li>
            <li>
              There will be 3 interviews in sequence conducted by 3 independent
              panels and at each stage, unsuccessful candidates would be
              notified.
            </li>
            <li>
              For Ghanaian applicants, there would be unannounced on-site
              visits.
            </li>
            <li>
              <strong
                >Successful applicants would be written to only when their
                results have been verified, interviewed 3 times and for Ghanaian
                applicants visited.</strong
              >
            </li>
            <li>
              There are&nbsp;<strong
                >absolutely No Charges/ Fees/ Facilitation/ Agents or
                Intermediaries Required</strong
              >&nbsp;at any stage of this process.
            </li>
            <li>
              Inaccurate information or fraudulent misrepresentation on the part
              of any applicant and any attempt to influence the process will
              lead to disqualification and a recommendation for dismissal.
            </li>
            <li>
              The decisions of the&nbsp;<strong
                >Terminal Selection Committee are Final</strong
              >.
            </li>
            <li>
              Telephone numbers, Skype IDs and email addresses provided by
              applicants should be&nbsp;Active at all times&nbsp;to receive
              critical information on their application.
            </li>
            <li>
              For further&nbsp;<strong
                >enquiry and assistance on how to apply, please contact the
                Secretariat on +233-206-030-790 / +233-3220-62975</strong
              >&nbsp;or email us at
              <strong
                >mcfsecretariat@knust.edu.gh or mcfknust@gmail.com&nbsp;</strong
              >
            </li>
            <li>
              Applicants shall not contact the Secretariat under any
              circumstances on the status of their application. The Secretariat
              would inform and contact applicants as when necessary.
            </li>
          </ul>
          <h3>Some Details of the Scholarship Package:</h3>

          <ul>
            <li>
              Comprehensive financial support (full tuition, fully paid
              on-campus accommodation, learning materials, transportation
              allowance and a full-year monthly stipend).
            </li>
            <li>Counselling Support Services</li>
            <li>
              Career Development Services (including Industrial Mentorship,
              Career Guidance, Professional Development, and Enterprise
              Development, amongst others)
            </li>
            <li>
              Regular group meetings with other scholars that focus on personal
              and professional development opportunities and activities tailored
              to build societal relationships and scholars’ capacity.
            </li>
            <li>
              Continued academic support through academic mentoring, virtual
              learning, and tutoring.
            </li>
            <li>
              Opportunities to participate in leadership congresses, community
              services and mentoring&nbsp;<strong>(Go-back Give- Back)</strong>,
            </li>
            <li>
              Uniquely sourced internships with industry for Professional
              development.
            </li>
            <li>
              The prestige of becoming part of the growing family of the
              Mastercard Foundation Scholars Alumni and networking with the
              Global Scholars Community.
            </li>
          </ul>

          <div class="files-container"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- blog area end -->
{% endblock content %}
