{% extends 'base.html' %} {% block content %} {% load static %}

<!-- team area start -->
<div class="team-area pd-top-120 pd-bottom-90">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-7">
        <div class="section-title text-center">
          <h6 class="sub-title double-line">COHORT TWO SCHOLARS</h6>
          <h3 class="title">2015/2016 Academic Year</h3>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Eugene Adugbire Agomna</a></h4>
            <span>Programme: BSc Natural Resources Management</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Mathew Akalagtota Anafo</a></h4>
            <span>Programme: BSc Agriculture</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Mercy Gbolowu</a></h4>
            <span>Programme: BSc Agribusiness Management</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Millicent Owusu-Peprah</a></h4>
            <span>Programme: BSc Agribusiness Management</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Fiifi Emmanuel Musah</a></h4>
            <span>Programme: BSc Agribusiness Management</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Sandra Akwaa Cobbinah</a></h4>
            <span>Programme: BSc Agribusiness Management</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">s Edem Cosmo Kemavor</a></h4>
            <span>Programme: BSc Agribusiness Management</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Kwasi Elikplim Avor</a></h4>
            <span>Programme: BSc Agribusiness Management</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Micheal Kwame Otoo</a></h4>
            <span>Programme: BSc Agribusiness Management</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Mina Kromo Adu</a></h4>
            <span>Programme: BSc Agribusiness Management</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Frederick Adu Poku</a></h4>
            <span>Programme: BSc Agribusiness Management</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Judith Amudjie</a></h4>
            <span>Programme: BSc Real Estate</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Gifty Ahiatsi</a></h4>
            <span
              >Programme: BSc Quantity Surveying & Construction Economics</span
            >
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Lydia Amissah</a></h4>
            <span
              >Programme: BSc Quantity Surveying & Construction Economics</span
            >
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Makufi Abigail Hanyor</a></h4>
            <span>Programme: BSc Land Economy</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Samuel Appiah</a></h4>
            <span>Programme: BSc Land Economy</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Charity Konamah</a></h4>
            <span>Programme: BSc Land Economy</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Mercy Okyere</a></h4>
            <span>Programme: BSc Land Economy</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Sam Lawrencia Adwowa</a></h4>
            <span>Programme: BSc Land Economy</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Tonia Nurideen</a></h4>
            <span>Programme: BSc Development Planning</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Emmanuel Addo Osafo</a></h4>
            <span>Programme: BSc Architecture</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Stephen Bandoma</a></h4>
            <span>Programme: BA Publishing Studies</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Yaa Ndropengi</a></h4>
            <span>Programme: BA Publishing Studies</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Vanessah Lanyoh</a></h4>
            <span>Programme: BA Communication Design</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Florence Hope Mizero</a></h4>
            <span>Programme: Doctor of Pharmacy</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Veronica Opoku</a></h4>
            <span>Programme: Doctor of Pharmacy</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Williams Appiah</a></h4>
            <span>Programme: Doctor of Pharmacy</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Worlanyo Kusi James</a></h4>
            <span>Programme: Doctor of Veterinary Medicine</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Angelique Ingabire</a></h4>
            <span>Programme: BSc Nursing</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Michael Judith Lurit Lowrence</a></h4>
            <span>Programme: BSc Medical Laboratory Technology</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Kwabena Joseph Bebu</a></h4>
            <span>Programme: BSc Medical Laboratory Technology</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Daniella Brobbey</a></h4>
            <span>Programme: BSc Human Biology</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Nsadha Elifazi</a></h4>
            <span>Programme: BSc Human Biology</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Philip Akwafo Tetteh</a></h4>
            <span>Programme: BSc Human Biology</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Alberta Baffour-Awuah</a></h4>
            <span>Programme: BSc Herbal Medicine</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Kwetey Ezekiel Narh</a></h4>
            <span>Programme: BSc Statistics</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Israel Safo</a></h4>
            <span>Programme: BSc Statistics</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Joseph Kwame Nkrumah</a></h4>
            <span>Programme: BSc Statistics</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Solomon Springs Mukundane</a></h4>
            <span>Programme: BSc Meteorology and Climate Science</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Otchere-Darko Ebenezer</a></h4>
            <span>Programme: BSc Environmental Science</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Maina Kariuki Boniface</a></h4>
            <span>Programme: BSc Environmental Science</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Kariuki Boniface Maina</a></h4>
            <span>Programme: BSc Environmental Science</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Lydia Gyabaah</a></h4>
            <span>Programme: BSc Computer Science</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Dzagble Amekudzi Valeria</a></h4>
            <span>Programme: BSc Biological Sciences</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Seth Okyere</a></h4>
            <span>Programme: BSc Actuarial Science</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Edwin Amponsah</a></h4>
            <span>Programme: BSc Actuarial Science</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Okello Robert Ayella</a></h4>
            <span>Programme: BSc Petroleum Engineering</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Obeng Aniagyei Ransford</a></h4>
            <span>Programme: BSc Petroleum Engineering</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Ngongkum Injei Ida Kwam</a></h4>
            <span>Programme: BSc Metallurgical Engineering</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Solomon Aboagye</a></h4>
            <span>Programme: BSc Metallurgical Engineering</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Emmanuel Oduro</a></h4>
            <span>Programme: BSc Metallurgical Engineering</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Alhassan Abubakari</a></h4>
            <span>Programme: BSc Metallurgical Engineering</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Noye Joshua Agyemang</a></h4>
            <span>Programme: BSc Geological Engineering</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Kofi Israel Adokpoh</a></h4>
            <span>Programme: BSc Electrical & Electronic Engineering</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Maxwell Agyei Frimpong</a></h4>
            <span>Programme: BSc Electrical & Electronic Engineering</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Ngatir Anthony Mbugua</a></h4>
            <span>Programme: BSc Computer Engineering</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Juliet Kumi</a></h4>
            <span>Programme: BSc Computer Engineering</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Emily Otoo-Quayson</a></h4>
            <span>Programme: BSc Civil Engineering</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Bright Amanful</a></h4>
            <span>Programme: BSc Chemical Engineering</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Clarisse Marie Mukanyandwi</a></h4>
            <span>Programme: BSc Chemical Engineering</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Yussif Mahama</a></h4>
            <span>Programme: BSc Chemical Engineering</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Alexander Abina</a></h4>
            <span>Programme: BSc Chemical Engineering</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Amina Nakawooya</a></h4>
            <span>Programme: BSc Business Administration</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Emmanuel Wadekuu</a></h4>
            <span>Programme: BSc Business Administration</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Clifford Sheriff Ninson</a></h4>
            <span>Programme: BSc Business Administration</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">N-Yong-Yiri Gaeten</a></h4>
            <span>Programme: BSc Business Administration</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Eunice Agyin</a></h4>
            <span>Programme: BSc Business Administration</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Atta Samuel Gyan</a></h4>
            <span>Programme: BSc Business Administration</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Kofi Williams Lasi</a></h4>
            <span>Programme: BSc Business Administration</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Mohammed Alhassan</a></h4>
            <span>Programme: BSc Business Administration</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Diane Iradukunda</a></h4>
            <span>Programme: BSc Biomedical Engineering</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Solomon Asare</a></h4>
            <span>Programme: BSc Agricultural Engineering</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Hero-Godsway K. Zilevu</a></h4>
            <span>Programme: BSc Agricultural Engineering</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Amina Nakawooya</a></h4>
            <span>Programme: LLB</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Emmanuel Wadekuu</a></h4>
            <span>Programme: LLB</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Agnes Dusi</a></h4>
            <span>Programme: BA Culture and Tourism</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Joel Ansah</a></h4>
            <span>Programme: BA Sociology</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Angelina Owusu</a></h4>
            <span>Programme: BA Sociology</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Boatemaa Francisca Ataa</a></h4>
            <span>Programme: BA Sociology</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Millicent Gurah</a></h4>
            <span>Programme: BA Sociology</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Theophilus Quaicoe</a></h4>
            <span>Programme: BA Social Work</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Harriet Afran</a></h4>
            <span>Programme: BA Social Work</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Mary Taylor</a></h4>
            <span>Programme: BA Social Work</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Hilda Bukari Kavala</a></h4>
            <span>Programme: BA Political Studies</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Naziratu Seidu</a></h4>
            <span>Programme: BA Political Studies</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Iddrisu Addul Hakeem</a></h4>
            <span>Programme: BA Political Studies</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Issah Musah Aziba</a></h4>
            <span>Programme: BA Political Studies</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Richmond Agyarkwa</a></h4>
            <span>Programme: BA Political Studies</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Selina Asare</a></h4>
            <span>Programme: BA Political Studies</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Gifty Apuri</a></h4>
            <span>Programme: BA Political Studies</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Doris Nketia</a></h4>
            <span>Programme: BA Political Studies</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Naa Balawuu Saeed Mariwa</a></h4>
            <span>Programme: BA Geography and Rural Development</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Nancy Awinbisa Amiziah</a></h4>
            <span>Programme: BA Geography and Rural Development</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Emelia Atabo</a></h4>
            <span>Programme: BA Geography and Rural Development</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Saasi Arimiyaw</a></h4>
            <span>Programme: BA Geography and Rural Development</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Aba Barnes Beatrice</a></h4>
            <span>Programme: BA Geography and Rural Development</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Sandra Attitsogbui</a></h4>
            <span>Programme: BA English</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Sandra Benedicta Adzato</a></h4>
            <span>Programme: BA French</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Mawufemor Amuzu</a></h4>
            <span>Programme: BA English</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Jallow Abdullah</a></h4>
            <span>Programme: BA Economics</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Catherine Amandine Atasige</a></h4>
            <span>Programme: BA Economics</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Bright Tetteh</a></h4>
            <span>Programme: BA Economics</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Joana Aboagyewaa</a></h4>
            <span>Programme: BA Akan</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- team area end -->
{% endblock content %}
