{% extends 'base.html' %} {% block content %} {% load static %}

<!-- team area start -->
<div class="team-area pd-top-120 pd-bottom-90">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-7">
        <div class="section-title text-center">
          <h6 class="sub-title double-line">COHORT ONE SCHOLARS</h6>
          <h3 class="title">2014/2015 Academic Year</h3>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/2018-05/Helina%20Kunidini%20Mahama.jpg?itok=-LwdeXI8"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Helina Kunidini Mahama</a></h4>
            <span>Programme: BA Social Work</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/2018-05/Godwin%20Acquah.jpg?itok=91xkBCLC"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Godwin Acquah</a></h4>
            <span>Programme: LLB</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/2018-05/Ibrahim%20Adizatu.jpg?itok=bXhKdfph"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Adizatu Ibrahim</a></h4>
            <span>Programme: BSc Business Administration</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/2018-05/Yamoah%20Grace%20Korantemaa.jpg?itok=tTlmCHUm"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Grace Korantemaa Yamoah</a></h4>
            <span>Programme: BSc Actuarial Science</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Francis Junior Acquah</a></h4>
            <span>Programme: BSc Business Administration</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/2018-05/Ledi%20Klenam%20Korble.jpg?itok=onNMnrtl"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Ledi Klenam Korble</a></h4>
            <span>Programme: BSc Business Administration</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/2018-05/Sheilla%20Kpeninnye.jpg?itok=RRhtFwgi"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Sheilla Kpeninnye</a></h4>
            <span
              >Programme: BSc Quantity Surveying & Construction Economics</span
            >
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/2018-05/Angkaakpe%20S%20Raphael.jpg?itok=oWMS9LCh"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Angkaakpe Suuribaare Raphael</a></h4>
            <span>Programme: BA Geography and Rural Development</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/2018-05/Abdul-Rahaman%20Nurideen.jpg?itok=Ah2WAHQv"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Nurideen Abdul-Rahaman</a></h4>
            <span>Programme: BSc Architecture</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/2018-05/Pascalina%20Abadum%20Awelana.jpg?itok=UlFfNJpL"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Pascalina Abadum Awelana</a></h4>
            <span>Programme: BA Geography and Rural Development</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/2018-05/Celestina%20Azuure%20Ayatuure.jpg?itok=WnCNDohY"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Celestina Azuure Ayatuure</a></h4>
            <span>Programme: BSc Land Economy</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/2018-05/Ndewin%20Simon%20Awintuuma.jpg?itok=XxX71qbo"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Simon Awintuuma Ndewin</a></h4>
            <span>Programme: BA Culture and Tourism</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/2018-05/Napoagne%20Issahaku%20Tawanbu.jpg?itok=PeJ6sJJ2"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Napoagne Tawanbu Issahaku</a></h4>
            <span>Programme: BSc Natural Resources Management</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/2018-05/Saaka%20Samuel%20Jabriel.jpg?itok=87bh7CAW"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Samuel Jabriel Saaka</a></h4>
            <span>Programme: BSc Chemical Engineering</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/2018-05/Anna%20Bantamuliza.jpg?itok=3aeXIu_F"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Anna Bantamuliza</a></h4>
            <span>Programme: BSc Telecommunication Engineering</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/2018-05/Ernest%20Niba%20Che%20%282%29.jpg?itok=6VoTyJ5-"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Ernest Niba Che</a></h4>
            <span>Programme: BSc Human Biology</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/2018-05/Osei%20Elizabeth.jpg?itok=feS4qbGc"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Elizabeth Nyarkoa Osei</a></h4>
            <span>Programme: BSc Civil Engineering</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/2018-05/Odamtten%20Natasha.jpg?itok=7Eb7x2bD"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Nathasha Odamtten</a></h4>
            <span>Programme: BSc Business Administration</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/2018-05/Khalid%20Khadija.jpg?itok=9-mkglsG"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Khadija Khalid</a></h4>
            <span>Programme: BSc Natural Resources Management</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/2018-05/Appiah%20Asana.jpg?itok=b4bN8o-U"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Appiah Asana Appiah</a></h4>
            <span>Programme: BSc Human Settlement Planning</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/default_images/avatarm.jpg?itok=Ybqldc_7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Isaac Yowetu Amornortey</a></h4>
            <span>Programme: BSc Actuarial Science</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/2018-05/Agnes%20Twumwaa.jpg?itok=2Veq7nxr"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Agnes Twumwaa</a></h4>
            <span>Programme: BSc Statistics</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/2018-05/Grace%20Adu%20Aborah.jpg?itok=iFoO0V-k"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Grace Adu Aborah</a></h4>
            <span>Programme: BSc Statistics</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/2018-05/Magdalene%20Ofosu.jpg?itok=BwmbOcQP"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Magdalene Ofosu</a></h4>
            <span>Programme: BSc Human Settlement Planning</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/2018-05/Adofo%20Atta%20Martin%20Snr.jpg?itok=CSCoX0Pe"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Martin Atta Snr Adofo</a></h4>
            <span>Programme: BA History</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/2018-05/Prince%20Adufah.jpg?itok=blpG2X6v"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Prince Adufah</a></h4>
            <span>Programme: BSc Human Settlement Planning</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/2018-05/Andrews%20Aboagye.jpg?itok=uXsks3RS"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Andrews Aboagye</a></h4>
            <span>Programme: BSc Business Administration</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/2018-05/Agagli%20Benedict%20Mawuli.jpg?itok=d-x2Y5Gv"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Benedict Mawuli Agagli</a></h4>
            <span>Programme: BSc Statistics</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/2018-05/Maame%20Kwamah%20Otieku%20Baah.jpg?itok=ON16j4X3"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Maame Kwamah Otsieku Baah</a></h4>
            <span>Programme: BSc Business Administration</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/2018-05/Lydia%20Owusu%20Kyeremaa_0.jpg?itok=8uUiacA_"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Lydia Kyeremaa Owusu</a></h4>
            <span>Programme: BA Geography and Rural Development</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/2018-05/Guisgo%20Efua%20Rebecca_0.jpg?itok=Or7Uwdfe"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Efua Rebecca Guisgo</a></h4>
            <span>Programme: BSc Statistics</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/2018-05/Elizabeth%20Quagraine.jpg?itok=cPkfb6Yg"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Elizabeth Quagraine</a></h4>
            <span>Programme: Doctor of Pharmacy</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/2018-05/Maria%20Bentil.jpg?itok=iamZAwIp"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Maria Bentil</a></h4>
            <span>Programme: BA Social Work</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/2018-05/Beatrice%20Anyan%20Adwoa.jpg?itok=tQjqvEnR"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Beatrice Adwoa Anyan</a></h4>
            <span>Programme: BA Social Work</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/2018-05/Rebecca%20Tawiah.jpg?itok=P4by58_Z"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Rebecca Tawiah</a></h4>
            <span>Programme: BSc Disability & Rehabilitation Studies</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/2018-05/Dorcas%20Appiah_0.jpg?itok=dFrWAKvt"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Dorcas Appiah</a></h4>
            <span>Programme: BA Publishing Studies</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/2018-05/Hajara%20Bentum_2.jpg?itok=0dpkQrLM"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Hajara Bentum</a></h4>
            <span>Programme: BA Social Work</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/2018-05/John%20kofi_0.jpg?itok=_R2mPxu3"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">John Kofi Aggrey</a></h4>
            <span>Programme: BSc Actuarial Science</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/2018-05/Sarkwa%20Joshua.jpg?itok=aFyRe_yW"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Joshua Sarkwa</a></h4>
            <span>Programme: BSc Construction Technology & Management</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/2018-05/Miller%20Jackson_0.jpg?itok=BuL3Zsy7"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Miller Jackson</a></h4>
            <span>Programme: BSc Agribusiness Management</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/2018-05/Korsah.jpg?itok=h1lcOzxF"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Shadrach Korsah</a></h4>
            <span>Programme: BA Sociology</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/2018-05/Buama%20Roselyn.jpg?itok=5wo0-rPi"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Roselyn Buama</a></h4>
            <span>Programme: BA Akan</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/2018-05/Cynthia%20Avoada_0.jpg?itok=7GBOk2wd"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Avoada Cynthia</a></h4>
            <span>Programme: BA Geography and Rural Development</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/2018-05/Emmanuel%20Karikari.jpg?itok=IDLu7G9F"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Emmanuel Karikari</a></h4>
            <span>Programme: BSc Computer Engineering</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/2018-05/Danquah%20Stefan_1.jpg?itok=ALItEjqP"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Stefan Danquah</a></h4>
            <span>Programme: BSc Development Planning</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/2018-05/Boateng%20Ibrahim_0.jpg?itok=dl2NSqwq"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Ibrahim Boateng</a></h4>
            <span>Programme: Doctor of Pharmacy</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/2018-05/Mavis%20Adu.jpg?itok=kNm4TDSL"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Mavis Adu</a></h4>
            <span>Programme: BA Social Work</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/styles/thumbnail/public/2018-05/img2016215_165525_0.jpg?itok=Ssg71kw5"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Shaibu Nafiwu</a></h4>
            <span>Programme: BSc Computer Science</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- team area end -->
{% endblock content %}
