{% extends 'base.html' %} {% block content %} {% load static %}


    <!-- breadcrumb start -->
    <!-- <div
      class="breadcrumb-area bg-overlay"
      style="background-image: url(' {% static 'assets/img/bg/3.png' %} ')"
    >
      <div class="container">
        <div class="breadcrumb-inner">
          <div class="section-title mb-0 text-center">
            <h2 class="page-title">Contact</h2>
            <ul class="page-list">
              <li><a href=" {% static 'index.html' %} ">Home</a></li>
              <li>Contact</li>
            </ul>
          </div>
        </div>
      </div>
    </div> -->
    <!-- breadcrumb end -->

    <!-- contact list start -->
    <div class="contact-list pd-top-120 pd-bottom-90">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4">
            <div class="contact-list-inner">
              <div class="media">
                <div class="media-left">
                  <img src=" {% static 'assets/img/icon/17.png' %} " alt="img" />
                </div>
                <div class="media-body align-self-center">
                  <h5>Our Phone</h5>
                  <p>+233-3223- 98766 (Tel)</p>
                  <p>+233-206-030-790 (Cell)</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="contact-list-inner">
              <div class="media">
                <div class="media-left">
                  <img src=" {% static 'assets/img/icon/18.png' %} " alt="img" />
                </div>
                <div class="media-body align-self-center">
                  <h5>Our Email</h5>
                  <p>mcfsecretariat@knust.edu.gh</p>
                  <p>mcfknust@gmail.com</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="contact-list-inner">
              <div class="media">
                <div class="media-left">
                  <img src=" {% static 'assets/img/icon/16.png' %} " alt="img" />
                </div>
                <div class="media-body align-self-center">
                  <h5>Our Postal Address</h5>
                  <p>The Program Manager,</p>
                  <p>MCF Scholars Program at KNUST</p>
                  <p>Dean of Students Office,</p>
                  <p>PMB, UPO, Kumasi</p>

                  <p>Ghana, West Africa</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- contact list end -->

    <!-- counter area start -->
    <div class="counter-area pd-bottom-120">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="section-title mb-0">
              <h6 class="sub-title right-line">Get in touch</h6>
              <h2 class="title">Write Us a Message</h2>

              <ul class="social-media style-base pt-3">
                <li>
                  <a href="#"
                    ><i class="fa fa-facebook" aria-hidden="true"></i
                  ></a>
                </li>
                <li>
                  <a href="#"
                    ><i class="fa fa-twitter" aria-hidden="true"></i
                  ></a>
                </li>
                <li>
                  <a href="#"
                    ><i class="fa fa-instagram" aria-hidden="true"></i
                  ></a>
                </li>
                <li>
                  <a href="#"
                    ><i class="fa fa-pinterest" aria-hidden="true"></i
                  ></a>
                </li>
                <li>
                  <a href="#"
                    ><i class="fa fa-linkedin" aria-hidden="true"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-8 mt-5 mt-lg-0">
            <form class="contact-form-inner mt-5 mt-md-0">
              <div class="row">
                <div class="col-lg-6">
                  <div class="single-input-inner style-bg-border">
                    <input type="text" placeholder="First Name" />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="single-input-inner style-bg-border">
                    <input type="text" placeholder="Last Name" />
                  </div>
                </div>
                <div class="col-6">
                  <div class="single-input-inner style-bg-border">
                    <input type="text" placeholder="Email" />
                  </div>
                </div>

                <div class="col-6">
                  <div class="single-input-inner style-bg-border">
                    <input type="text" placeholder="Subject" />
                  </div>
                </div>
                <div class="col-12">
                  <div class="single-input-inner style-bg-border">
                    <textarea placeholder="Message"></textarea>
                  </div>
                </div>
                <div class="col-12">
                  <button class="btn btn-base">Send Message</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- counter area end -->

    <!-- contact area start -->
    <div class="contact-g-map">
      <iframe
        src="https://maps.google.com/maps?q=knust&t=&z=13&ie=UTF8&iwloc=&output=embed"
      ></iframe>
    </div>
    <!-- contact area end -->
    {% endblock content %}