<!DOCTYPE html>
<html lang="zxx">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Mastercard Foundation, KNUST</title>
    <link
      rel="icon"
      href=" {% static 'assets/img/favicon.png' %} "
      sizes="20x20"
      type="image/png"
    />

    <!-- Stylesheet -->
    <link rel="stylesheet" href=" {% static 'assets/css/vendor.css' %} " />
    <link rel="stylesheet" href=" {% static 'assets/css/style.css' %} " />
    <link rel="stylesheet" href=" {% static 'assets/css/responsive.css' %} " />
  </head>

  <body>
    <!-- preloader area start -->
    <div class="preloader" id="preloader">
      <div class="preloader-inner">
        <div class="spinner">
          <div class="dot1"></div>
          <div class="dot2"></div>
        </div>
      </div>
    </div>
    <!-- preloader area end -->

    <!-- search popup start-->
    <div class="td-search-popup" id="td-search-popup">
      <form action="index.html" class="search-form">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search....." />
        </div>
        <button type="submit" class="submit-btn">
          <i class="fa fa-search"></i>
        </button>
      </form>
    </div>
    <!-- search popup end-->
    <div class="body-overlay" id="body-overlay"></div>

    <!-- navbar start -->
    <div class="navbar-area">
      <nav class="navbar bg-white navbar-area-1 navbar-area navbar-expand-lg">
        <div class="container nav-container">
          <div class="responsive-mobile-menu">
            <button
              class="menu toggle-btn d-block d-lg-none"
              data-target="#edumint_main_menu"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="icon-left"></span>
              <span class="icon-right"></span>
            </button>
          </div>
          <div class="logo">
            <a href=" {% static 'index.html' %} "><img src=" {% static 'assets/img/logo.png' %} " alt="img" /></a>
          </div>
          <div class="nav-right-part nav-right-part-mobile">
            <a class="signin-btn" href=" {% static 'signin.html' %} ">Sign In</a>
            <a class="btn btn-base" href=" {% static 'signup.html' %} ">Sign Up</a>
            <a class="search-bar" href="#"><i class="fa fa-search"></i></a>
          </div>
          <div class="collapse navbar-collapse" id="edumint_main_menu">
            <ul class="navbar-nav menu-open">
              <li class="current-menu-item">
                <a href="#">Home</a>
              </li>
              <li class="menu-item-has-children">
                <a href="#">Course</a>
                <ul class="sub-menu">
                  <li><a href=" {% static 'course.html' %} ">Course</a></li>
                  <li><a href=" {% static 'course-details.html' %} ">Course Single</a></li>
                </ul>
              </li>
              <li class="menu-item-has-children">
                <a href="#">Pages</a>
                <ul class="sub-menu">
                  <li><a href=" {% static 'about.html' %} ">About Us</a></li>
                  <li><a href=" {% static 'event.html' %} ">Event</a></li>
                  <li><a href=" {% static 'event-details.html' %} ">Event Details</a></li>
                  <li><a href=" {% static 'team.html' %} ">Instructor</a></li>
                  <li><a href=" {% static 'team-details.html' %} ">Instructor Details</a></li>
                  <li><a href=" {% static 'pricing.html' %} ">Pricing</a></li>
                  <li><a href=" {% static 'gallery.html' %} ">Gallery</a></li>
                  <li><a href=" {% static 'signin.html' %} ">Sign In</a></li>
                  <li><a href=" {% static 'signup.html' %} ">Sign Up</a></li>
                </ul>
              </li>
              <li class="menu-item-has-children">
                <a href="#">Blog</a>
                <ul class="sub-menu">
                  <li><a href=" {% static 'blog.html' %} ">Blog</a></li>
                  <li><a href=" {% static 'blog-grid.html' %} ">Blog Grid</a></li>
                  <li><a href=" {% static 'blog-details.html' %} ">Blog Details</a></li>
                </ul>
              </li>
              <li><a href=" {% static 'contact.html' %} ">Contact Us</a></li>
            </ul>
          </div>
          <div class="nav-right-part nav-right-part-desktop">
            <a class="signin-btn" href=" {% static 'signin.html' %} ">Sign In</a>
            <a class="btn btn-base" href=" {% static 'signup.html' %} ">Sign Up</a>
            <a class="search-bar" href="#"><i class="fa fa-search"></i></a>
          </div>
        </div>
      </nav>
    </div>
    <!-- navbar end -->

    <!-- breadcrumb start -->
    <div
      class="breadcrumb-area bg-overlay"
      style="background-image: url(' {% static 'assets/img/bg/3.png' %} ')"
    >
      <div class="container">
        <div class="breadcrumb-inner">
          <div class="section-title mb-0 text-center">
            <h2 class="page-title">News</h2>
          </div>
        </div>
      </div>
    </div>
    <!-- breadcrumb end -->

    <!-- blog area start -->
    <div class="blog-area pd-top-120 pd-bottom-120">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="td-sidebar">
              <div class="widget widget-recent-post">
                <!-- <h4 class="widget-title">Recent News</h4> -->
                <ul>
                  <li>
                    <div class="media">
                      <div class="media-left">
                        <img
                          src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/2022-02/Mentors%20and%20Mentees%20Welcome%20Program.jpg"
                          alt="blog"
                        />
                      </div>
                      <div class="media-body align-self-center">
                        <h5 class="title">
                          <a href=" {% static 'single-blog.html' %} "
                            >WiSTEM-KNUST/MCFSP at KNUST Holds Mentors and
                            Mentees Welcome Programme</a
                          >
                        </h5>
                        <p>
                          In furtherance of the mentorship role in Phase II of
                          the Mastercard Foundation Scholars Program (MCFSP) at
                          Kwame Nkrumah University of Science and Technology
                          (KNUST), the Women in Science, Technology, and
                          Mathematics (WiSTEM) and MCFSP at KNUST has held a
                          ‘Mentors and Mentees Welcome Program’ at
                        </p>
                        <div class="post-info">
                          <i class="fa fa-calendar"></i
                          ><span>23rd May 2022</span>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="media">
                      <div class="media-left">
                        <img
                          src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/2021-09/MCFSP%20at%20KNUST%20Equips%20Scholars%20with%20Hands-On%20Skills%20for%20the%20World%20of%20Work.jpg"
                          alt="blog"
                        />
                      </div>
                      <div class="media-body align-self-center">
                        <h5 class="title">
                          <a href=" {% static 'single-blog.html' %} "
                            >MCFSP at KNUST Equips Scholars with Hands-On Skills
                            for the World of Work</a
                          >
                        </h5>
                        <p>
                          Mastercard Foundation Scholars Program (MFSP) at Kwame
                          Nkrumah University of Science and Technology (KNUST)
                          has launched its annual week-long Summer Skills
                          Training Programme (Summer Camp) to prepare scholars
                          for the job market.
                        </p>
                        <div class="post-info">
                          <i class="fa fa-calendar"></i
                          ><span>Published: 28th Apr 2022</span>
                        </div>
                      </div>
                    </div>
                  </li>

                  <li>
                    <div class="media">
                      <div class="media-left">
                        <img
                          src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/2021-08/Assistive%20Devices%2001.jpg"
                          alt="blog"
                        />
                      </div>
                      <div class="media-body align-self-center">
                        <h5 class="title">
                          <a href=" {% static 'single-blog.html' %} "
                            >MCFSP at KNUST has Presented Assistive Devices to
                            Scholars with Impairment</a
                          >
                        </h5>
                        <p>
                          The Counselling Unit of Mastercard Foundation Scholars
                          Program (MCFSP) at Kwame Nkrumah University of Science
                          and Technology (KNUST) has presented some assistive
                          devices to scholars with impairments to assist them in
                          their academic works and their activities on Campus in
                          general.
                        </p>
                        <div class="post-info">
                          <i class="fa fa-calendar"></i
                          ><span>10th Feb 2021</span>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="media">
                      <div class="media-left">
                        <img
                          src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/2021-08/Health%20Screening%20Programme.jpg"
                          alt="blog"
                        />
                      </div>
                      <div class="media-body align-self-center">
                        <h5 class="title">
                          <a href=" {% static 'single-blog.html' %} ">
                            Health Screening Programme for Mastercard Foundation
                            Scholars at KNUST Organised</a
                          >
                        </h5>
                        <p>
                          The Counselling Unit of the Mastercard Foundation
                          Scholars Program (MCFSP) at Kwame Nkrumah University
                          of Science and Technology (KNUST) in collaboration
                          with Peace and Love Hospital and the University
                          Hospital, KNUST has organised
                        </p>
                        <div class="post-info">
                          <i class="fa fa-calendar"></i
                          ><span>10th Nov 2020</span>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="media">
                      <div class="media-left">
                        <img
                          src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/2021-07/Six%20Unit%20Classroom%20Block%20at%20Agona%20Wiamoase.jpg"
                          alt="blog"
                        />
                      </div>
                      <div class="media-body align-self-center">
                        <h5 class="title">
                          <a href=" {% static 'single-blog.html' %} ">
                            Mastercard Foundation Scholars Commission a Six (6)
                            Unit Classroom Block at Agona Wiamoase</a
                          >
                        </h5>
                        <p>
                          The Scholars Community of Mastercard Foundation
                          Scholars Program (MCFSP) at Kwame Nkrumah University
                          of Science and Technology (KNUST), as part of their
                          yearly International Day of Service, has commissioned
                          a renovated six (6) unit classroom block furnished
                          with one hundred (100) dual desks for t
                        </p>
                        <div class="post-info">
                          <i class="fa fa-calendar"></i
                          ><span>10th Nov 2020</span>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="media">
                      <div class="media-left">
                        <img
                          src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/2021-08/Muslim%20Scholars%20of%20MCFSP%20at%20KNUST%20Donate%20to%20All-Nations%20Charity%20Home.jpg"
                          alt="blog"
                        />
                      </div>
                      <div class="media-body align-self-center">
                        <h5 class="title">
                          <a href=" {% static 'single-blog.html' %} ">
                            Muslim Scholars of MCFSP at KNUST Donate to
                            All-Nations Charity Home</a
                          >
                        </h5>
                        <p>
                          The Muslim scholars of the Mastercard Foundation
                          Scholars Program (MCFSP) at Kwame Nkrumah University
                          of Science and Technology (KNUST) as part of
                          celebrating Eid-ul-Fitr have marked the day by
                          donating; food stuffs, toiletries and 10 bags of
                          cement to the All-Nations Charity Home at Ayigya-Kumas
                        </p>
                        <div class="post-info">
                          <i class="fa fa-calendar"></i
                          ><span>10th Nov 2020</span>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>

              <!-- <div class="widget widget_tags mb-0">
                            <h4 class="widget-title">Tags</h4>
                            <div class="tagcloud">
                                <a href="#">Art</a>
                                <a href="#">Creative</a>
                                <a href="#">Article</a>
                                <a href="#">Designer</a>
                                <a href="#">Portfolio</a>
                                <a href="#">Project</a>
                                <a href="#">Personal</a>
                                <a href="#">Landing</a>
                            </div>
                        </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- blog area end -->

    <!-- footer area start -->
    <footer class="footer-area bg-gray">
      <div class="footer-subscribe">
        <div class="container">
          <form class="footer-subscribe-inner">
            <div class="row">
              <div class="col-lg-5">
                <div class="single-input-inner style-border-bottom">
                  <input type="text" placeholder="Your Full Name" />
                </div>
              </div>
              <div class="col-lg-5">
                <div class="single-input-inner style-border-bottom">
                  <input type="text" placeholder="Your Email Address" />
                </div>
              </div>
              <div class="col-lg-2">
                <a class="btn btn-base" href="#">Subscribe</a>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6">
              <div class="widget widget_contact">
                <h4 class="widget-title">Contact Us</h4>
                <ul class="details">
                  <li>
                    <i class="fa fa-map-marker"></i> 420 Love Sreet 133/2 Street
                    NewYork
                  </li>
                  <li><i class="fa fa-envelope"></i> info.contact@gmail.com</li>
                  <li><i class="fa fa-phone"></i> 012 345 678 9101</li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="widget widget_nav_menu">
                <h4 class="widget-title">Course</h4>
                <ul>
                  <li><a href=" {% static 'course.html' %} ">Branding design</a></li>
                  <li><a href=" {% static 'course.html' %} ">Ui/Ux designing </a></li>
                  <li><a href=" {% static 'course.html' %} ">Make Elements</a></li>
                  <li><a href=" {% static 'course.html' %} ">Business</a></li>
                  <li><a href=" {% static 'course.html' %} ">Graphics design</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="widget widget_blog_list">
                <h4 class="widget-title">News & Blog</h4>
                <ul>
                  <li>
                    <h6>
                      <a href=" {% static 'blog-details.html' %} "
                        >Big Ideas Of Business Branding Info.</a
                      >
                    </h6>
                    <span class="date"
                      ><i class="fa fa-calendar"></i>December 7, 2021</span
                    >
                  </li>
                  <li>
                    <h6>
                      <a href=" {% static 'blog-details.html' %} "
                        >Ui/Ux Ideas Of Business Branding Info.</a
                      >
                    </h6>
                    <span class="date"
                      ><i class="fa fa-calendar"></i>December 7, 2021</span
                    >
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="widget widget_contact">
                <h4 class="widget-title">Twitter Feed</h4>
                <ul class="details">
                  <li>
                    <i class="fa fa-twitter"></i>
                    Simply dummy brand <a href="#">https//tweets/c3l.com</a>
                    <div class="time">9 Hours ago</div>
                  </li>
                  <li>
                    <i class="fa fa-twitter"></i>
                    Simply dummy brand <a href="#">https//tweets/c7l.com</a>
                    <div class="time">9 Hours ago</div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-6 align-self-center">
              <a href=" {% static 'index.html' %} "
                ><img src=" {% static 'assets/img/footer-logo.png' %} " alt="img"
              /></a>
            </div>
            <div
              class="col-lg-4 col-md-6 order-lg-12 text-md-right align-self-center"
            >
              <ul class="social-media mt-md-0 mt-3">
                <li>
                  <a class="facebook" href="#"
                    ><i class="fa fa-facebook"></i
                  ></a>
                </li>
                <li>
                  <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a class="instagram" href="#"
                    ><i class="fa fa-instagram"></i
                  ></a>
                </li>
                <li>
                  <a class="youtube" href="#"><i class="fa fa-youtube"></i></a>
                </li>
                <li>
                  <a class="pinterest" href="#"
                    ><i class="fa fa-pinterest"></i
                  ></a>
                </li>
              </ul>
            </div>
            <div
              class="col-lg-4 order-lg-8 text-lg-center align-self-center mt-lg-0 mt-3"
            >
              <p>copyright 2022 by solverwp.com</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- footer area end -->

    <!-- back to top area start -->
    <div class="back-to-top">
      <span class="back-top"><i class="fa fa-angle-up"></i></span>
    </div>
    <!-- back to top area end -->

    <!-- all plugins here -->
    <script src=" {% static 'assets/js/vendor.js' %} "></script>
    <!-- main js  -->
    <script src=" {% static 'assets/js/main.js' %} "></script>
  </body>
</html>
